@page
@model DrugstoreWarehouse.Web.Pages.Warehouses.WarehousesModel
@{
}
@section styles 
{
    <abp-style-bundle name="@DrugstoreWarehouseBundles.Styles.TabulatorExtended"></abp-style-bundle>
    <abp-style-bundle name="@DrugstoreWarehouseBundles.Styles.MasterDetails"></abp-style-bundle>
}
@section scripts 
{
    <abp-script-bundle name="@DrugstoreWarehouseBundles.Scripts.TabulatorExtended"></abp-script-bundle>
    <abp-script-bundle name="@DrugstoreWarehouseBundles.Scripts.MasterDetails"></abp-script-bundle>
    <abp-script src="/Pages/Warehouses/CreateUpdateWarehouseModal.js"></abp-script>
    <abp-script src="/Pages/Warehouses/CreateUpdateBatchModal.js"></abp-script>
    <abp-script src="/Pages/Warehouses/Warehouses.js"></abp-script>
}

@section page_header
{
    @L[LocalizerKeys.Menu.Warehouses]
}


@section content_toolbar
{
    @if (!Model.ReadOnly)
    {
        <button type="button" class="btn btn-sm btn-primary" id="addBatchBtn" disabled>@L[LocalizerKeys.Buttons.AddBatch]</button>
        <button type="button" class="btn btn-sm btn-primary" id="addWarehouseBtn">@L[LocalizerKeys.Buttons.AddWarehouse]</button>
    }
}


<abp-input asp-for="@Model.ReadOnly"></abp-input>

<div class="d-flex">
    <div class="master-details__master-list-container">
        <div class="list-group">
            @foreach(var wh in Model.Warehouses)
            {
                <div class="list-group-item list-group-item-action master-details__master-list-item" data-id="@wh.Id">
                    <span class="master-details__master-list-item__text">@wh.Name</span>
                    <span class="master-details__master-list-item__toolbar">
                        @if (!Model.ReadOnly)
                        {
                            <span class="master-details__master-list-item__tool-btn  master-details__master-list-item__edit-btn"><i class="fas fa-edit"></i></span>
                            <span class="master-details__master-list-item__tool-btn  master-details__master-list-item__delete-btn"><i class="fas fa-trash"></i></span>
                        }
                    </span>
                </div>
            }
        </div>
    </div>
    <div class="master-details__details-container">
        <div class="alert alert-info select-wh-alert" role="alert">
            @L[LocalizerKeys.Message.Batch.SelectWarehouse]
        </div>
        <div id="batchesTable"></div>
    </div>
</div>